{% extends "base.html" %}

{% block titulo %} Competencias {% endblock %}

{% block contenido %} 

  <h4> Informacion de las competencias</h4>
 </a>

  <div class="form-group" >
   <label for="datos">Datos</label>
 </div>

 <table class="table">
   <thead>
     <tr>
       <th>ID</th>
       <th>Id del Aprendiz</th>
       <th>Fecha Inicial</th>
       <th>Fecha Final</th>
       <th>Descripcion</th>
       <th>Estado</th>
     </tr>
   </thead>
  
   {% for Competencias in compe %}
   <tr>
     <td>{{ Competencias.id_comp }}</td>
     <td>{{ Competencias.id }}</td>
     <td>{{ Competencias.fecha_ini }}</td>     
     <td>{{ Competencias.fecha_fin }}</td>
     <td>{{ Competencias.descripcion }}</td>
     <td>{{ Competencias.estado }}</td>
  </tr>
     {% endfor %}
  </table>
  
{% endblock %}